@model IEnumerable<sevenimport.social>


<a href="#"><i class="fa fa-facebook facebook"></i></a>
<a href="#"><i class="fa fa-google-plus google"></i></a>
<a href="#"><i class="fa fa-twitter twitter"></i></a>