@{
    ViewBag.Title = "About";
}
<section class="slice white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <h1>Quienes somos.</h1>
                <div class="col-md-7">
                    <p>Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat.Ut wisi enim ad minim ipiscing elit, sed diam nonummy nibh euismod is tincidunt utilin malins noineq laore.</p>
                    <ul class="list-check">
                        <li><i class="fa fa-check"></i> Nam gravida magna vitae ante dignissim</li>
                        <li><i class="fa fa-check"></i> Duis rhoncus lectus at velit hendrerit quis</li>
                        <li><i class="fa fa-check"></i> Sed fringilla tempor arcu feugiat risus</li>
                        <li><i class="fa fa-check"></i> Vivamus semper odio in nibh ultricies</li>
                    </ul>
                    <p>Laoreet dolore magna aliquam erat are esrseiiqetuer ipisci nibh euismod is tincidunt ut amat volutpat.Ut wisi enim ad minim ipiscing elit, sed diam nonummy nibh euismod is tincidunt</p>
                </div>
                @*<div class="col-md-5">
                     16:9 aspect ratio 
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="http://player.vimeo.com/video/22439234"></iframe>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</section>