

@{
    ViewBag.Title = "Admin";
}


<section class="slice bg-white">
    <div class="wp-section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="widget">
                        <ul class="categories">
                            <li><a tabindex="-1" href="wp-accordion.html">Empresa</a></li>
                            <li><a tabindex="-1" href="wp-alerts.html">Alerts</a></li>
                            <li><a tabindex="-1" href="wp-badges.html">Badges</a></li>
                            <li>
                                <a tabindex="-1" href="#">Blocks</a>
                                <ul>
                                    <li><a href="wp-blocks-default.html">Default Blocks</a></li>
                                    <li><a href="wp-blocks-inverse.html">Inverse Blocks</a></li>
                                    <li><a href="wp-blocks-hero.html">Hero Blocks</a></li>
                                    <li><a href="wp-blocks-large-arrow.html">Large Blocks + Arrow</a></li>
                                    <li><a href="wp-blocks-small-arrow.html">Small Blocks + Arrow</a></li>
                                    <li><a href="wp-blocks-icon.html">Icon Blocks</a></li>
                                    <li><a href="wp-blocks-product.html">Product Blocks</a></li>
                                    <li><a href="wp-blocks-property.html">Property Blocks</a></li>
                                </ul>
                            </li>
                            <li>
                                <a tabindex="-1" href="#">Buttons</a>
                                <ul>
                                    <li><a href="wp-buttons-boomerang.html">Boomerang Buttons</a></li>
                                    <li><a href="wp-buttons-bootstrap.html">Bootstrap Buttons</a></li>
                                </ul>
                            </li>
                            <li><a tabindex="-1" href="wp-callouts.html">Callouts</a></li>
                            <li><a tabindex="-1" href="wp-carousels.html">Carousels</a></li>
                            <li><a tabindex="-1" href="wp-pagination.html">Pagination</a></li>
                            <li><a tabindex="-1" href="wp-progress-bars.html">Progress Bars</a></li>
                            <li><a tabindex="-1" href="wp-range-sliders.html">Range Sliders</a></li>
                            <li><a tabindex="-1" href="wp-rating-stars.html">Rating Stars</a></li>
                            <li><a tabindex="-1" href="wp-ribbons.html">Ribbons</a></li>
                            <li><a tabindex="-1" href="wp-tabs.html">Tabs</a></li>
                            <li>
                                <a tabindex="-1" href="#">Typography</a>
                                <ul>
                                    <li><a href="wp-typography-general.html">General</a></li>
                                    <li><a href="wp-typography-lists.html">Lists</a></li>
                                    <li><a href="wp-typography-testimonials.html">Testimonials</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-9">
                    <!-- Accordions -->
                    <div class="wp-example">
                        <div class="section-title left" >
                            <h3 class="section-title left"><span>Accordions</span></h3>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>